<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Care Center</title>
    
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <style>

        .logo {
            width: 50px;
            height: 50px;
            color: black;
            margin-top: 0;
            margin-left: 2px;
        }

        .myimg {
            width: 50px;
            height: 50px;
            border: 2px solid black;
            border-radius: 25px;
        }
        body {
            background-image: url('https://i.pinimg.com/736x/4f/16/80/4f1680ba3b205dd1915b2033e93213a7.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
        }
        /* From Uiverse.io by nima-mollazadeh */ 
.button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
}

.button span {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.button:hover::before {
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.button:hover:after {
  opacity: 1;
}
/* From Uiverse.io by Yashwanthnaini */ 
.btnpredict {
 border: none;
 border-radius: 20px;
 background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 transition: all 1.5s ease;
 font-family: 'Ropa Sans', sans-serif;
 font-weight: bold;
 letter-spacing: 0.05rem;
 padding: 0;
}

.btnpredict span {
 display: inline-block;
 padding: 15px 35px;
 font-size: 17px;
 border-radius: 20px;
 background: #ffffff10;
 backdrop-filter: blur(20px);
 transition: 0.4s ease-in-out;
 transition-property: color;
 height: 100%;
 width: 100%;
}

.btnpredict span:hover {
 backdrop-filter: blur(0px);
 color: #ffffff;
}

    </style>
</head>
<body id="top">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Logo at the top-left corner -->
            <div class="logo">
                <img class="myimg" src="https://marketplace.canva.com/EAE04eMJ7BA/1/0/1600w/canva-pink-simple-creative-and-professional-medical-home-logo-design-template-9S6RviHtv20.jpg" alt="">
            </div>

            <a class="navbar-brand" href="#">Health Center</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developer">Developer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
  <!-- main form of page -->
<h1 class="mt-4 my-4 text-center text-green">Health Care Center</h1>
<div class="container my-4 mt-4" style="background: black; width:50%; color: white; border-radius: 15px; padding: 40px;">
    <div class ="form-container">
        <form action="/predict" method="post">
            <div class="form-group">
                <div class ="col-md-6">
                <label for="symptoms" selected>Select Symptoms:</label>
                <select class="form-control" id="symptoms" name="symptoms" multiple>
                    {% for symptom in symptoms_list %}
                        <option value="{{ symptom }}">{{ symptom.replace('_', ' ').title() }}</option>
                    {% endfor %}
                </select>
            </div>
                
                
            </div>
            <br>
            <button type="button" id="startSpeechRecognition" class="btn btn-primary" style="margin-left:3px;border:1px solid white; border-radius:20px;">
                Start Speech Recognition
            </button>
            <br>

            <!-- Display the transcribed text here -->
            <div name="mysysms" id="transcription"></div>

            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            <br>
            <!-- From Uiverse.io by Yashwanthnaini --> 
            <button class ="btnpredict">
                <span> PREDICT
                </span>
            </button>
            </form>
    </div>
    <script>
        $(document).ready(function() {
            $('#symptoms').select2({
                placeholder: "Select symptoms...",
                allowClear: true,
                width: '100%',
                theme: "classic"
            });
        });
    </script>
</div>

{% if predicted_disease %}
<h1 class="text-center my-4 mt-4">Our AI System Results</h1>
<div class="container" style="align-items: center;">

    <div class="result-container" style="align-items: center;">
        <!-- Buttons to toggle display -->
        <!-- From Uiverse.io by nima-mollazadeh --> 
<button class="button" style="padding:6px;  margin: 5px 40px 15px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px;"data-bs-toggle="modal" data-bs-target="#descriptionModal">
    <span>Description</span>
  </button>
  <button class="button" style="padding:6px;  margin: 5px 40px 15px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px;" data-bs-toggle="modal" data-bs-target="#precautionModal">
    <span>Precaution</span>
  </button>
  <button class="button" style="padding:6px;  margin: 5px 40px 15px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px;" data-bs-toggle="modal" data-bs-target="#medicationsModal">
    <span>Medications</span>
  </button>
  <button class="button" style="padding:6px;  margin: 9px 40px 15px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px;" data-bs-toggle="modal" data-bs-target="#workoutsModal">
    <span>Workouts</span>
  </button>
  <button class="button" style="padding:6px;  margin: 9px 40px 15px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px;" data-bs-toggle="modal" data-bs-target="#dietsModal">
    <span>Diets</span>
  </button>
           </div>
</div>

{% endif %}

<!-- Disease nu Modal predict karva mate -->
<div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;"> <!-- Set header background color inline -->
                <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: #modal-body-color;"> <!-- Set modal body background color inline -->
                <p>{{ predicted_disease }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Description Modal predict karva mate-->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ dis_des }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Precaution Modal predict karva mate-->
<div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="precautionModalLabel">Precaution</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in my_precautions %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>




<!-- Medications Modal predict karva mate -->
<div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in medications %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Workouts Modal predict karva mate-->
<div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="workoutsModalLabel">Workouts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in workout %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Diets Modal predict karva mate-->
<div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in my_diet %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>



    <script>
const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');
const transcriptionDiv = document.getElementById('transcription');

startSpeechRecognitionButton.addEventListener('click', startSpeechRecognition);

function startSpeechRecognition() {
    const recognition = new webkitSpeechRecognition(); 

    recognition.lang = 'en-US'; 

    recognition.onresult = function (event) {
        const result = event.results[0][0].transcript;
        transcriptionDiv.textContent = result;
    };

    recognition.onend = function () {
        console.log('Speech recognition ended.');
    };

    recognition.start();
}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
